@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');

:root{
    font-size: 16px;
}

body {
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
}

#main-container {
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

button {
    font-family: 'Poppins';
    display: inline-flex;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 30px;
}